<div class="container">
    <div class="alert alert-danger" [hidden]="postError">{{postMessage}}</div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"
                [(ngModel)]="basicFromModuleVM.name"
                required #nameField="ngModel"
                (click)="onClick()">
            <div class="alert alert-danger" [hidden]="nameField.valid || nameField.untouched">Enter name</div>
            <div class="alert alert-info" [hidden]="show">Enter name</div>
        </div>
        <h5>Email Offfers</h5>
        <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" name="email" id="email-offer"
                [(ngModel)]="basicFromModuleVM.email">
            <label class="form-check-label" for="email-offer">Check me out</label>
        </div>
        <h5>Choose your color</h5>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="radio1" value="black"
                [(ngModel)]="basicFromModuleVM.color">
            <label class="form-check-label" for="radio1">
                Black
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="radio2" value="white"
                [(ngModel)]="basicFromModuleVM.color">
            <label class="form-check-label" for="radio2">
                White
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="radio3" value="transparent"
                [(ngModel)]="basicFromModuleVM.color">
            <label class="form-check-label" for="radio3">
                Transparent
            </label>
        </div>
        <h5>Options</h5>
        <div class="form-group">
            <select class="custom-select" name="option" id="select" [(ngModel)]="basicFromModuleVM.option">
                <option selected>Choose...</option>
                <option value="first">One</option>
                <option value="second">Two</option>
                <option value="third">Three</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Notes">Notes</label>
            <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="basicFromModuleVM.info"
            #infoField = 'ngModel'
            required [class.errors]="form.submitted && infoField.invalid">
            </textarea>
            <div class="alert alert-danger" [hidden]="!form.submitted || infoField.valid">Enter info</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>